body {
    background-image: url("../images/background.jpg");
}

.header {
    width: 55%;
    height: 45%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container {
    background: #fa8d4d;
    text-align: center;
    color: white;
    font-family: 'Baloo Paaji', cursive;
    font-size: 50px;
    border-style: outset;
    border-color: #ba5706;
    border-width: 5px;
}

button {
    background: #fa8d4d;
    border-style: none;
    color: white;
    
}

.choice {
    font-size: 40px;
}

.choice:hover {
    background: green;
    border-style: outset;
    border-color: darkgreen;
    cursor: pointer;
    
    
}

#startgame:hover {
    background: green;
    border-style: outset;
    border-color: darkgreen;
    border: 1px;
    cursor: pointer;

}

button:focus, input[type="button"]:focus {
    outline: none;
}

.image {
    padding-bottom: 30px;
    width: 30px;
    height: auto;
}
